<div class="card shadow-lg" data-bs-theme="dark">
  <div class="card-body text-center">
    <div class="row">
      <h1>Bienvenido a tu Biblioteca de confianza</h1>
      <p>
        En nuestra bilbioteca podrás encontrar todo tipo de libros
      </p>
      <h2>Libros</h2>
    </div>
    <div class="row ms-4 me-4 mt-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of libros">
            <td>{{libro.isbn}}</td>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.categoria}}</td>
            <td>{{libro.precio}}</td>
            <td>
              <button class="btn btn-sm btn-primary me-2" [routerLink]="['/detailedLibro',libro.isbn]">Detalles</button>
              <button class="btn btn-sm btn-warning me-2" [routerLink]="['/update',libro.isbn]">Modificar</button>
              <button class="btn btn-sm btn-danger" (click)="deleteLibro(libro.isbn)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
