<div class="card shadow-lg rounded rounded-4" data-bs-theme="dark">
  <div class="card-body text-center align-items-center p-5">
    <img src="./assets/libro.png" width="40%">
    <h1 class="p-5">Tu Biblioteca de Confianza</h1>
    <p>Libros, sólo libros, todos los libros, en cualquier formato.

      Fundada en 1923, Casa del Libro es hoy la cadena de librerías líder en el sector. En 1992 se integra en el Grupo
      Planeta, en 1996 inauguró su librería virtual y en 1999 inicia una fase de expansión ubicándose en las mejores
      zonas comerciales de las principales ciudades españolas. En la actualidad cuenta con 57 librerías: en Albacete,
      dos en Alicante, Badajoz, nueve en Barcelona, Bilbao, Burgos, Cartagena, Castellón, Córdoba, Gandía, Gijón,
      Granada, Las Palmas, León, Logroño, trece en Madrid, dos en Málaga, Murcia, Oviedo, Palma de Mallorca, Ponferrada,
      Santiago de Compostela, San Sebastián, Santander, tres en Sevilla, dos en Valencia, Valladolid, Vigo, Vitoria y
      dos en Zaragoza. </p>
  </div>
</div>
